@import './a.css';

div {
    /* transform: rotate(48deg); */
    background-image: url('./assets/images/logo.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

span {
    width: 100px;
    height: 100px;
    background-image: url('./assets/images/logo.png');
    background-size: 100% 100%;
}
